[Desktop Entry]
Type=Application
Name=Install ArchLabs
Comment=Installer for ArchLabs
Categories=Utility;
Exec=env QT_QPA_PLATFORMTHEME=Arc-Dark sudo -E calamares
Icon=al-calamares